<div class="container">
    <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
    <ul class="list-group">
        <li ng-repeat="user in admin.users" class="list-group-item"><strong>{{user.name}}</strong><br/><span class="text-muted">{{user.email}}</span><a ng-click="admin.delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a></li>
    </ul>
</div>
