<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Login</h1>
            <p>Accounts are reset on server restart from<code>server/config/seed.js</code>. Default account is<code>test@example.com</code>/<code>test</code></p>
            <p>Admin account is<code>admin@example.com</code>/<code>admin</code></p>
        </div>
        <div class="col-sm-12">
            <form name="form" ng-submit="vm.login(form)" novalidate="" class="form">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" ng-model="vm.user.email" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" ng-model="vm.user.password" class="form-control"/>
                </div>
                <div class="form-group has-error">
                    <p ng-show="form.email.$error.required && form.password.$error.required && vm.submitted" class="help-block">Please enter your email and password.</p>
                    <p class="help-block">{{ vm.errors.other }}</p>
                </div>
                <div>
                    <button type="submit" class="btn btn-inverse btn-lg btn-login">Login</button> <a ui-sref="signup" class="btn btn-default btn-lg btn-register">Register</a>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <oauth-buttons classes="btn-block"></oauth-buttons>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr/>
</div>
