<div class="container">
    <p>Angular Fullstack v3.7.6 | <a href="https://twitter.com/tyhenkel">@tyhenkel</a> | <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a>
    </p>
</div>
