<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Select desired seats</h1>
        </div>
        <div class="col-sm-12">
            <div class="match-info">
                <div>Rival: {{ vm.match.rival }}</div>
                <div>Date: {{ vm.match.date|date:'MMM d, y HH:mm' }}</div>
            </div>
            <div class="col-sm-8 seats">
                <div ng-repeat="seat in vm.seats" class="seat col-sm-3 thumbnail">
                    <div class="caption">
                        <div class="seat-sector">Sector: {{ seat.sector }}</div>
                        <div class="seat-row">Row: {{ seat.row }}</div>
                        <div class="seat-number">Seat Number: {{ seat.number }}</div>
                        <div class="seat-price">Price: {{ seat.price | money }}</div>

                        <div class="buttons">
                            <a class="btn btn-success btn-xs" ng-click="vm.addToCart(seat, vm.match)">Add to Cart</a>
                            <a class="btn btn-warning btn-xs disabled">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="empty" ng-hide="vm.seats.length">There are no seats available</div>
            </div>
            <div class="col-sm-4 cart">
                <cart></cart>
                <div ng-show="vm.cart.size">
                    <a ui-sref="checkout" class="btn btn-info btn-block">Proceed to Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
