@import '../bower_components/bootstrap/less/bootstrap.less';
@import '../bower_components/bootstrap-social/bootstrap-social.less';
@import '../bower_components/font-awesome/less/font-awesome.less';
@import '../bower_components/ngPrint/ngPrint.css';

@icon-font-path: '../bower_components/bootstrap/fonts/';
@fa-font-path: '../bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* inject:less */
@import '404/404';
@import 'admin/admin';
@import 'cart/summary/cart-summary';
@import 'checkout/checkout';
@import 'match-seats/match-seats';
@import 'matches/matches';
@import 'orders/orders';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/oauth-buttons/oauth-buttons';
/* endinject */
