<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Orders</h1>
        </div>
        <div class="col-sm-12">
            <table class="table table-condensed">
                <tr>
                    <th>Created</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>&nbsp;</th>
                </tr>
                <tr ng-repeat="order in vm.orders">
                    <td>{{order.created | date:'MMM d, y HH:mm'}}</td>
                    <td>{{order.amount | money}}</td>
                    <td>
                        <span class="label" ng-class="{ 'label-success': order.statusPaid, 'label-danger': order.statusFailed, 'label-warning': order.statusNew }">{{ order.status }}</span>
                    </td>
                    <td><a ui-sref="order-details({orderNumber: order.orderNumber})" class="btn btn-info">View Details</a></td>
                </tr>
                <tr>
                    <td colspan="4" ng-hide="vm.orders.length">There are no orders</td>
                </tr>
            </table>
        </div>
    </div>
</div>
