<div ng-controller="NavbarController" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" ng-click="nav.isCollapsed = !nav.isCollapsed" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">metalist-tickets</a>
        </div>
        <div id="navbar-main" uib-collapse="nav.isCollapsed" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="item in nav.menu" ui-sref-active="active"><a ui-sref="{{item.state}}">{{item.title}}</a></li>
                <li ui-sref-active="active"><a ui-sref="orders">
                    {{ nav.isLoggedIn() ? 'My Orders' : 'My Session Orders' }}
                </a></li>
                <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
                <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
                <li ng-show="nav.isLoggedIn()">
                    <p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p>
                </li>
                <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>

                <li>
                    <cart-summary></cart-summary>
                </li>
            </ul>
        </div>
    </div>
</div>
