<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Checkout</h1>
        </div>
        <div class="col-sm-12">
            <cart></cart>
        </div>
        <div class="buttons col-sm-12" ng-show="vm.cart.size">
            <div class="col-sm-4 col-sm-offset-1" ng-hide="vm.isLoggedIn()">
                <a ui-sref="login" class="btn btn-primary btn-block">Log in</a>
            </div>
            <div class="col-sm-1" ng-hide="vm.isLoggedIn()">
                - OR -
            </div>
            <div class="col-sm-5" ng-hide="vm.isLoggedIn()">
                <form name="form" novalidate="novalidate" id="guest-user-form" ng-model-options="{ updateOn: 'blur' }">
                    <div class="form-group" ng-class="{'has-error': form.email.$invalid && form.email.$dirty}">
                        <input type="email" class="form-control" name="email" placeholder="Email" ng-model="user.email" required="required" />
                        <div class="help-block" ng-show="form.email.$error.required && form.email.$dirty">Email is required</div>
                        <div class="help-block" ng-show="form.email.$error.email && form.email.$dirty">Invalid email</div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': form.name.$invalid && form.name.$dirty}">
                        <input type="text" class="form-control" name="name" placeholder="Name" ng-model="user.name" required="required" />
                        <div class="help-block" ng-show="form.name.$error.required && form.name.$dirty">Name is required</div>
                    </div>
                    <hr/>
                    <a ng-click="vm.checkoutAsGuest(form, user)" class="btn btn-warning btn-block" ng-class="{'disabled': form.$invalid && form.$dirty}">Continue as Guest</a>
                </form>
            </div>
            <div class="col-sm-4 col-sm-offset-4" ng-show="vm.isLoggedIn()">
                <a class="btn btn-primary btn-block" ng-click="vm.checkout()">Checkout</a>
            </div>

        </div>
    </div>
</div>
